<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title"></h4>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Tiempo</th>
                    <th scope="col">Temperatura</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let elem of datosList.list; let i = index ">
                    <th scope="row">{{i}}</th>
                    <td>{{elem.name}}</td>
                    <td><img id="wicon" src="http://openweathermap.org/img/w/{{elem.weather[0].icon}}.png"></td>
                    <td>{{elem.main.temp}}</td>
                  </tr>
                </tbody>
                <p>Numero de ciudades buscadas <span>{{datosList.cnt}}</span></p>
              </table>
        </div>
      </div>
    </div>
</div>
