<div class="container">
<form [formGroup]="forma" (ngSubmit)="enviarFormulario()" >
  <div class="form-group">
      <label for="pais">Ciudades</label>
      <select class="form-control" id="ciudad" formControlName="ciudadNombre" required>
        <option value="">Selecciona una ciudad</option>
        <option *ngFor="let ciudad of ciudades" [value]="ciudad.nombre">{{ciudad.nombre}}</option>
      </select>
  </div>
  <div class="form-group">
      <label for="pais">Paises</label>
      <select class="form-control" id="pais" formControlName="paisNombre" required>
        <option value="">Selecciona un pais</option>
        <option *ngFor="let pais of paises" [value]="pais.id">{{pais.nombre}}</option>
      </select>
  </div>
  <div class="form-group row">
      <label class="col-form-label">&nbsp;</label>
      <div class="col-md-8">
        <button [disabled]="!forma.controls['ciudadNombre'].value" type="submit" class="btn btn-outline-primary">
          Enviar
        </button>
      </div>
  </div>
</form>
</div>
