  <div class="container">
  <h4>Buscador del sistema</h4>
  <em>***** Informacion de uso:</em>
  <p> 1) Utiliza el buscador de la cabecera para buscar <span>cualquier ciudad.</span></p>
  <p> 2) Utiliza los menus desplegables para buscar <span>una de las cuatro ciudades predefinidas por el sistema.</span></p>
  <app-historico></app-historico>
  <br>
  <button type="button"
          (click)="resetDatos()"
          class="btn btn-outline-primary btn-block">
          Borrar Datos de Busquedas
  </button>
  <br>
  <div class="row">
    <div class="row animated fadeIn fast">
      <div class="card-columns" *ngIf="ws.weatherBuscados.length > 0">
        <div class="card" *ngFor="let item of ws.weatherBuscados; let i = index"> 
          <div class="card-block">
            <img id="wicon" src="http://openweathermap.org/img/w/{{item.weather[0].icon}}.png">
            <h4 class="card-title">Ciudad: {{item.name}}</h4>
                <p class="card-text text-justify">Temperatura: {{item.main.temp}}</p>
            <button type="button"
                    [routerLink]="['/ciudad',item.name]"
                    class="btn btn-outline-primary btn-block">
              Ficha Ciudad
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>